.btn {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  background-color: #1890ff;
  color: #ffffff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.btn-primary:hover:not(:disabled) {
  background-color: #40a9ff;
}

.btn-primary:active:not(:disabled) {
  background-color: #096dd9;
}

.btn-secondary {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}

.btn-secondary:hover:not(:disabled) {
  border-color: #40a9ff;
  color: #1890ff;
}

.btn-secondary:active:not(:disabled) {
  border-color: #096dd9;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

